@page
@model UnitConverter.Pages.Jogos
@{
    ViewData["Title"] = "Jogos";
}

<h1>@ViewData["Title"]</h1>

<div>
    <p>DARK SOULS</p>
    <p>ELDEN RING</p>
    <p>BATMAN ARKHAM KNIGHT</p>
    <p>SEKIRO</p>
    <p>SIFU</p>
    <p>SUBNAUTICA</p>
</div>