@page
@model UnitConverter.Pages.Jogos
@{
    ViewData["Title"] = "Peso";
}

<h1>@ViewData["Title"]</h1>

<div class="conversao">
    <li>DARK SOULS</li>
    <li>ELDEN RING</li>
    <li>BATMAN ARKHAM KNIGHT</li>
    <li>SEKIRO</li>
    <li>SIFU</li>
    <li>SUBNAUTICA</li>
</div>